// **
// * The root element
// * `html` || `'*:root'`
// *
$han-root:                html  !default;

// **
// * The article selector
// * Possible values: `article` || `.article` || `.post` || `.entry`
// *
$han-article:             article;

// **
// * Default Chinese locale variant
// * (Traditional or simplified characters)
// * `hant` || `hans`
// *
$han-default-variant:     hans    !default;

// **
// * Chinese glyph set in general
// * `default` || `CNS` || `GB`
// *
$han-glyph-set-hant:      default !default;

// **
// * Simplified Chinese glyph set
// * `default` || `GB`
// *
$han-glyph-set-hans:      GB      !default;

// **
// * Chinese Biaodian set in general
// * `Pro` || `CNS` || `GB` || `simp`
// *
$han-biaodian-hant:       CNS     !default;

// **
// * Biaodian set for Simplified Chinese
// * `default` || `Pro` || `CNS` || `GB`
// *
$han-biaodian-hans:       GB      !default;

// **
// * Generic typefaces for Western (Latin-based)
// * characters
// *
$han-sans:    'Helvetica Neue', Helvetica, Arial  !default;
$han-serif:   Georgia, 'Times New Roman'          !default;
$han-cursive: 'Apple Chancery', 'Snell Roundhand' !default;
$han-mono:    'Sarasa Mono J', Menlo, Consolas, Courier            !default;

// **
// * Generic typefaces for Chinese
// *
$han-sans-zh:    ''                               !default;
$han-serif-zh:   ''                               !default;
$han-cursive-zh: ''                               !default;
$han-mono-zh:    $han-sans-zh                     !default;

// **
// * Web font路徑
// *（注音符號、羅馬拼音陽入韻連字、部分標點修正、標點懸掛所需的空格）
// *
$han-font-path:  '~han-css/font/';

$han-webfont: url(#{$han-font-path}han.woff2) format('woff2'), url(#{$han-font-path}han.woff) format('woff'), url(#{$han-font-path}han.otf) format('opentype');
$han-space-webfont: url(#{$han-font-path}han-space.woff2) format('woff2'), url(#{$han-font-path}han-space.woff) format('woff'), url(#{$han-font-path}han-space.otf) format('opentype');

@import '~han-css/src/sass/var';
@import '~han-css/src/sass/api';

@import '~han-css/src/sass/locale/normalize';
@import '~han-css/src/sass/locale';

@import '~han-css/src/sass/typography';
@import '~han-css/src/sass/typeset';